
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close:hover, .btn-close:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.btn-close-icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-form {

}

.overlay-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.overlay-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-input:hover, .overlay-input:focus {
    border-color: #4D5AE5;
}

.overlay-input:hover + .label-icon,
.overlay-input:focus + .label-icon {
    fill: #4D5AE5;
}

.label-container {
    margin-bottom: 8px;
}

.overlay-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.input-svg-container {
    position: relative;
}

.label-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-container {
    margin-bottom: 16px;
}

.textarea-container .overlay-input {
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    resize: none;
}

.overlay-label textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-empty {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
}

.checkbox-icon {
    
}

.input-check:checked + .checkbox-text > .check-empty {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.input-check:focus + .checkbox-text>.check-empty {
    border-color: #404bbf;
}

.link-privacy-policy {
    color: #4D5AE5;
    text-decoration: underline;
    text-decoration-skip-ink: none;line-height: 1.33;
}

.submit-btn {
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.submit-btn:hover, .submit-btn:focus {
    background-color: #404BBF;
}